
/*Estilo do index.html*/
.center {
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#menu li{
    display: inline;
    padding: 20px;
}

#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover {
    color: brown;
}

.p-30{
    padding: 40px;
}

.br-15{
    border-radius: 5%;
}

.tm-social{
    width: 20px;
    height: 20px;
}
/*Estilo do contato.html*/
.ml-50{
    margin-left: 50px;
}